
<ng-container *ngIf="user; then userCard; else spinner"></ng-container>

<ng-template #spinner>
    <mat-spinner></mat-spinner>
</ng-template>

<ng-template #userCard>
    <mat-card>
        <mat-card-header>
            <mat-icon mat-card-avatar svgIcon="{{user.avatar}}"></mat-icon>
            <mat-card-title>
                <h2>{{ user.name }}</h2>
            </mat-card-title>
            <mat-card-subtitle>Birthday {{ user.birthDate | date:'d LLLL' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            {{ user.bio }}
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Ok</button>
        </mat-card-actions>
    </mat-card>
</ng-template>